.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image:url( "../../../assets/image/logo.png");
    background-size: cover;
  }
  .pos {
display: flex;      
justify-content: center;
margin: 100px 0px;
  }
  .aff{
      color: green;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .milieu{
    display: flex;      
    justify-content: center;
    margin: 100px 0px;
      }